@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

#logoImg {
    justify-content: center;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    padding: 10px;
    background-color: #efece5;
    color: #ff2911;
    list-style: none;
}

aside li {
    padding-left: 30px;
}

aside li > a {
    color: #ff6851;
    text-decoration: none;
}

aside a:hover {
    color: #ff3819;
    text-decoration: underline;
}

header {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    box-sizing: border-box;
}

header > * {
    margin-left: 15px;
}

header > a {
    color: #000000;
    text-decoration: none;
}

header > a:hover {
    color: #ff5353;
    text-decoration: underline;
}

main {
    padding-left: 225px;
    background-color: #f9f9f9;
}

.wrapper {
    height: 100vh;
    min-height: 100%;
    background-color: #f9f9f9;
}

.content {
    margin-right: 63px;
}

.remote {
    position: fixed;
    right: 0;
    margin-top: 200px;
    padding: 10px;
    width: 48px;
}

.remote ul {
    list-style: none;
    padding: 5px;
}

.remote > img {
    margin: auto;
    text-align: center;
}

footer {
    height: 150px;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

footer div {
    text-align: center;
}

button {
    /* Disable text selection inside the button */
    /* Standard, FireFox, Safari & Chrome */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

    border: none;
    border-radius: 15px;
    color: #efece5;
    background-color: #fc8173;
    box-shadow: 1px 1px 1px 1px #d2210d;
}

button:hover {
    background-color: #f5afa5;
    box-shadow: 1px 1px 1px 1px #fc8173;
}
