@charset "UTF-8";

:root {
    --header-text-hover: #FF5353;

    --button-background: #FC8173;
    --button-shadow: #D2210D;

    --button-background-hover: #F5AFA5;
    --button-shadow-hover: #F2CFC5;

    --sidebar-list: #FF2911;
    --sidebar-text-hover: #FF3819;
    --sidebar-text: #FF6851;
    --sidebar-background: #EFECE5;

    --back-ground: #F9F9F9;
    --footer-background: #F1F1F1;
    --black: #000000;

    --table-border: #DDD;

    --table-th-background: #f4f4f4;
    --table-tr-background-hover: #f9f9f9;
}

* {
    margin: 0;
    padding: 0;
}

#logoImg {
    justify-content: center;
}

aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    padding: 10px;
    background-color: var(--sidebar-background);
    color: #ff2911;
    list-style: none;
}

aside li {
    padding-left: 30px;
    list-style: none;
}

aside li > a {
    color: #ff6851;
    text-decoration: none;
}

aside a:hover {
    color: #ff3819;
    text-decoration: underline;
}

header {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    box-sizing: border-box;
}

header > * {
    margin-left: 15px;
}

header > a {
    color: var(--black);
    text-decoration: none;
}

header > a:hover {
    color: #ff5353;
    text-decoration: underline;
}

main {
    padding-left: 225px;
    background-color: var(--back-ground);
}

.wrapper {
    display: flex; /* Make the wrapper a flex container */
    align-items: flex-start; /* Optional: aligns items at the start of the container */
    min-height: 100vh; /* Ensures the wrapper takes up the full viewport height */
    background-color: var(--back-ground);
}

.content {
    flex: 1; /* This allows the content area to expand and take available space */
    padding: 20px; /* Optional: Add some padding */
}

.remote {
    position: fixed;
    right: 0; /* fix it to the right side of the viewport */
    top: 50%; /* position it at the vertical midpoint */
    transform: translateY(-50%); /* shift upward by half of its own height to fully center */
    width: 48px;
    padding: 10px;
}

.remote ul {
    list-style: none;
    padding: 5px;
}

.remote > img {
    margin: auto;
    text-align: center;
}

footer {
    height: 150px;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--footer-background);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

footer div {
    text-align: center;
}

button {
    /* Disable text selection inside the button */
    /* Standard, FireFox, Safari & Chrome */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

    border: none;
    border-radius: 15px;
    color: #efece5;
    background-color: #fc8173;
    box-shadow: 1px 1px 1px 1px var(--button-shadow);
}

button:hover {
    background-color: #f5afa5;
    box-shadow: 1px 1px 1px 1px var(--button-background);
}

.title {
    text-align: center;
    margin: 0 auto 30px;
}

table {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid var(--table-border);
    padding: 10px;
    text-align: center;
}

th {
    background-color: var(--table-th-background);
    font-weight: bold;
}

tr:hover {
    background-color: var(--table-tr-background-hover);
}
