@charset "UTF-8";
/*필요시 이름변경*/
*{
    margin: 0;
    padding: 0;
}

.leftSideBar{
    background-color: #EFECE5;
    left: 0px;
    
    width: 200px;
    min-width: 120px;
    
    height: 100%;
    position: fixed;  
    padding: 10px;
    
    list-style: none;
    color: #ff2911;
    
    top:0;
    
}

.leftSideBar ul > li{
    padding-left: 30px;
}
.leftSideBar li> a{
   text-decoration: none;
   color: #ff6851;
 
}
 .leftSideBar a:hover{
    text-decoration: underline;
    color: #ff3819;
  
}

.mainDiv{
    margin-left: 200px;
    padding-left: 50px;
    justify-content: center;
    height: auto;
    min-height: 100%;
    padding-bottom: 150px;
    
}

.headWrap{
    width: 100%;
    height: 75px;
}
.headDiv > * {
    top: 0px;
    height: 20px;
    float: right;
    margin: 25px auto;
    padding-top: 15px;
    padding-right: 20px;
    flex-direction: row-reverse;
    margin: 5px;
}
.headDiv > a {
    text-decoration: none;
    color: #000000;
}
.headDiv > a:hover{
    text-decoration: underline;
    color: #ff5353;
}

#logoImg{
    justify-content: center;
}
.rightSideBar{
    position: fixed;  
    right: 0px;
    width: 50px;
    height: 20%;
    padding: 10px;
    bottom: 200px; /* headDiv의 높이만큼 아래로 이동 */
    right: 28px;
    width: 60px;

    
}
.rSideBar{
    width: 48px;
    margin: 0 auto;
    margin-top: 15px;
    justify-content: center;
}
.rSideBar>ul>* {
    padding: 5px;
}
.rSideBar>img{
    margin: auto;
    text-align: center;
    
}
.rSideBar > span{
    font-weight: bold;
    
}
.rSideBar ul{
    list-style: none;
    
}

button{
    height: 40px; 
    width: 200px; 
    background-color:#FC8173; 
    color:#EFECE5; 
    border-radius: 20px; 
    border: none;
}
.footer{
	height: 150px;
    padding-left: 225px;
    position: relative;
    transform: translateY(0%);

	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(207, 207, 207, 1);
    
}
.footer>*{
	justify-content: center;
    
}
