<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
		<typeAlias type="com.khedu.sooljura.user.model.vo.User" alias="user"/>
		<typeAlias type="com.khedu.sooljura.admin.model.vo.Product" alias="product"/>
		<typeAlias type="com.khedu.sooljura.admin.model.vo.ProductImage" alias="productImage"/>
	</typeAliases>
</configuration>
