<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin">

    <select id="selectProdKey" resultType="string">
        select 'pr' || to_char(sysdate, 'yymmdd') || lpad(seq_product.nextval, 4, '0')
        from dual
    </select>

    <insert id="uploadProduct" parameterType="product">
        insert into tbl_product (prod_key, prod_name, prod_price, prod_maker, prod_origin, prod_intro, prod_cnt,
                                 upload_date, category_key)
        values (#{prodKey},
                #{prodName},
                #{prodPrice},
                #{prodMaker},
                #{prodOrigin},
                #{prodIntro},
                #{prodCnt},
                sysdate,
                #{categoryKey})
    </insert>

    <insert id="uploadProdImg" parameterType="productImage">
        insert into tbl_product_image (img_key, img_nm, img_path, prod_key)
        values ('im' || to_char(sysdate, 'yymmdd') || lpad(seq_product_image.nextval, 4, '0'),
                #{imgNm},
                #{imgPath},
                #{prodKey})
    </insert>

    <insert id="createCategory" parameterType="productCategory">
        insert into tbl_product_category (category_key, category_level, category_nm, higher_category)
        values ('c' || lpad(seq_product_category.nextval, 4, '0'),
                #{categoryLevel},
                #{categoryNm},
                #{higherCategory})
    </insert>

    <select id="getAllProductsInfo" resultType="product">
        select prod_key     as prodKey,
               prod_name     as prodName,
               prod_price   as prodPricem,
               prod_maker   as prodMaker,
               prod_origin  as prodOrigin,
               prod_intro   as prodIntro,
               prod_cnt     as prodCnt,
               upload_date  as uploadDate,
               category_key as categoryKey
        from tbl_product
    </select>

    <insert id="uploadYoutube" parameterType="youtube">
        insert into tbl_youtube (youtube_url, content, prod_key1
        <if test="prodKey2 != null">, prod_key2</if>
        <if test="prodKey2 != null">, prod_key3</if>)
        values (#{youtubeUrl},
                #{content},
                #{prodKey1}
        <if test="prodKey2 != null">, #{prodKey2}</if>
        <if test="prodKey3 != null">, #{prodKey3}</if>
        )
    </insert>

</mapper>
