<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin">

    <select id="numberOfUnCheckedPost" resultType="int">
        select count(*)
        from tbl_post
        where confirm_yn = 0
    </select>

    <select id="numberOfUncheckedNewUser" resultType="int">
        select count(*)
        from tbl_user
        where user_cd = 1
    </select>

    <select id="selectProdKey" resultType="string">
        select 'pr' || to_char(sysdate, 'yymmdd') || lpad(seq_product.nextval, 4, '0')
        from dual
    </select>

    <insert id="uploadProduct" parameterType="product">
        insert into tbl_product (prod_key,
                                 prod_nm,
                                 prod_price,
                                 prod_maker,
                                 prod_origin,
                                 prod_intro,
                                 prod_cnt,
                                 prod_vol,
                                 prod_proof,
                                 trading_yn,
                                 category_key,
                                 upload_date)
        values (#{prodKey},
                #{prodNm},
                #{prodPrice},
                #{prodMaker},
                #{prodOrigin},
                #{prodIntro},
                #{prodCnt},
                #{prodVol},
                #{prodProof},
                #{tradingYn},
                #{categoryKey},
                sysdate)
    </insert>

    <insert id="uploadProdImg" parameterType="productImage">
        insert into tbl_product_image (img_key, img_nm, img_path, prod_key)
        values ('im' || to_char(sysdate, 'yymmdd') || lpad(seq_product_image.nextval, 4, '0'),
                #{imgNm},
                #{imgPath},
                #{prodKey})
    </insert>

    <select id="selectLowerCategory" parameterType="string" resultType="productCategory">
        select category_key    as categoryKey,
               category_level  as categoryLevel,
               category_nm     as categoryNm,
               higher_category as higherCategory
        from tbl_product_category
        where higher_category = #{_currentCategoryKey}
    </select>

    <insert id="createCategory" parameterType="productCategory">
        insert into tbl_product_category (category_key, category_level, category_nm, higher_category)
        values ('c' || lpad(seq_product_category.nextval, 4, '0'),
                #{categoryLevel},
                #{categoryNm},
                #{higherCategory})
    </insert>

    <select id="getAllProductsInfo" resultType="product">
        select prod_key     as prodKey,
               prod_nm      as prodNm,
               prod_price   as prodPrice,
               prod_maker   as prodMaker,
               prod_origin  as prodOrigin,
               prod_intro   as prodIntro,
               prod_cnt     as prodCnt,
               upload_date  as uploadDate,
               category_key as categoryKey
        from tbl_product
        order by upload_date desc
    </select>

    <select id="getCategoryInfo" resultType="productCategory">
        select category_key    as categoryKey,
               category_level  as categoryLevel,
               category_nm     as categoryNm,
               higher_category as higherCategory
        from tbl_product_category
        where category_key = #{_categoryKey}
    </select>

    <select id="getAllCategoryInfos" resultType="productCategory">
        select category_key    as categoryKey,
               category_level  as categoryLevel,
               category_nm     as categoryNm,
               higher_category as higherCategory
        from tbl_product_category
    </select>

    <select id="getProductImages" resultType="productImage">
        select img_key  as imgKey,
               img_nm   as imgNm,
               img_path as imgPath,
               prod_key as prodKey
        from tbl_product_image
        where prod_key = #{prodKey}
    </select>

    <insert id="uploadYoutube" parameterType="youtube">
        insert into tbl_youtube (
        youtube_url,
        content,
        prod_key1
        <if test="prodKey2 != null">, prod_key2</if>
        <if test="prodKey3 != null">, prod_key3</if>
        )
        values (
        #{youtubeUrl},
        #{content},
        #{prodKey1}
        <if test="prodKey2 != null">, #{prodKey2}</if>
        <if test="prodKey3 != null">, #{prodKey3}</if>
        )
    </insert>

    <select id="selectLowerCategoryLevel" resultType="productCategory">
        select category_key    as categoryKey,
               category_level  as categoryLevel,
               category_nm     as categoryNm,
               higher_category as higherCategory
        from tbl_product_category
        where higher_category = #{_hihgercategorykey}
    </select>

    <select id="searchProductName" resultType="product">
        select prod_key as prodKey,
               prod_nm  as prodNm
        from tbl_product
        where prod_nm like '%' || #{_currentInputValue} || '%'
    </select>

    <select id="selectYoutubeUrl" resultType="string">
        select youtube_url as youtubeUrl
        from tbl_youtube
    </select>

</mapper>
