<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin">

    <select id="selectProdKey" resultType="string">
        select 'p' || to_char(sysdate, 'yymmdd') || lpad(seq_product.nextval, 4, '0')
        from dual
    </select>

    <insert id="uploadProduct" parameterType="product">
        insert into tbl_product (prod_key, prod_name, prod_price, prod_maker, prod_origin, prod_intro, prod_cnt,
                                 upload_date, category_cd)
        values (#{prodKey},
                #{prodName},
                #{prodPrice},
                #{prodMaker},
                #{prodOrigin},
                #{prodIntro},
                #{prodCnt},
                sysdate,
                #{categoryCd})
    </insert>

    <insert id="createCategory" parameterType="productCategory">
        insert into tbl_product_category (category_cd, category_level, category_nm, higher_category)
        values ('c' || lpad(seq_product_category.nextval, 4, '0'),
                #{categoryLevel},
                #{categoryNm},
                #{higherCategory})
    </insert>

</mapper>
