<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chat">

    <select id="numberOfUnCheckedChats" resultType="int">
        select count(*)
        from tbl_room
        where read_yn = 0
    </select>

    <select id="getRoomList" parameterType="room" resultType="room">
        select room_key as roomKey,
        room_title as roomTitle,
        user_key as userKey,
        create_date as createDate,
        read_yn as readYn
        from tbl_room
        <if test="userKey != 'admin'">
            where user_key = #{userKey}
        </if>
        <if test="userKey == 'admin'">
            where read_yn = 0
        </if>

    </select>

    <select id="selectRoomKey" resultType="string">
        select 'ro' || to_char(sysdate, 'yymmdd') || lpad(seq_room_key.nextval, 4, '0')
        from dual
    </select>

    <insert id="createRoom" parameterType="room">
        insert into tbl_room (room_key, room_title, user_key, create_date, read_yn)
        values (#{roomKey},
                #{roomTitle},
                #{userKey},
                sysdate,
                0)
    </insert>

    <insert id="insertChat" parameterType="chat">
        insert into tbl_chat(chat_key, room_key, sender_key, msg, sent_date)
        values ('ch' || lpad(seq_chat_key.nextval, 4, '0'),
                #{roomKey},
                #{senderKey},
                #{msg},
                sysdate)
    </insert>

    <select id="getChatList" resultType="chat">
        select chat_key   as chatKey,
               room_key   as roomKey,
               sender_key as senderKey,
               msg        as msg,
               sent_date  as sentDate
        from tbl_chat
        where room_key = #{_roomKey}
    </select>

    <delete id="deleteRoom" parameterType="chat">
        delete
        from tbl_room
        where room_key = #{roomKey}
    </delete>

</mapper>
