<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="user">
	<!-- 로그인 -->
	<select id="userLogin" parameterType="user" resultType="user">
		select
			user_key as userKey,
			user_cd as userCd,
			user_id as userId,
			user_pw as userPw,
			user_email as userEmail,
			user_name as userNm,
			user_phone as userPhone,
			user_nm as userNicknm,
			user_point as userPoint,
			adult_chk as adultChk,
			enroll_date as enrollDate
		from tbl_user
		where user_id = #{userId} 
	</select>

	<!-- 회원가입 -->
	<insert id="userJoin" parameterType="user">
		insert into tbl_user(
			user_key,
			user_cd,
			user_id,
			user_pw,
			user_email,
			user_nm,
			user_phone,
			user_nicknm,
			user_point,
			adult_chk,
			enroll_date 
		)values(
			'us'||to_char(sysdate,'YYMMDD')||lpad(seq_user.nextval,4,'0'),
			1,
			#{userId},
			#{userPw},
			#{userEmail},
			#{userNm},
			#{userPhone},
			#{userNicknm},
			0,
			0,
			sysdate	
		)
	</insert>
	
	<!-- 회원가입 : 아이디 중복 체크 -->
	<select id="chkId" parameterType="string" resultType="_int">
		select count(*) from tbl_user where user_id = #{userId}
	</select>
	
	<!-- 회원가입 : 닉네임 중복 체크 -->
	<select id="chkNickname" parameterType="string" resultType="_int">
		select count(*) from tbl_user where user_nicknm = #{userNicknm}
	</select>
</mapper>
