<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="webScraper">

    <insert id="insProd" parameterType="product">
        insert
        into tbl_product
        (prod_key,
         prod_nm,
         prod_price,
         prod_maker,
         prod_origin,
         prod_intro,
         prod_cnt,
         upload_date,
         prod_vol,
         prod_proof,
         trading_yn,
         category_key)
        values ('pr' || to_char(sysdate, 'yymmdd') || lpad(seq_product.nextval, 4, '0'),
                #{prodNm},
                #{prodPrice},
                #{prodMaker},
                #{prodOrigin},
                #{prodIntro},
                #{prodCnt},
                sysdate,
                #{prodVol},
                #{prodProof},
                #{tradingYn},
                #{categoryKey})
    </insert>

    <insert id="updProdImg" parameterType="productImage">
        insert
        into tbl_product_image
        (img_key,
         img_nm,
         img_path,
         prod_key)
        values ('im' || to_char(sysdate, 'yymmdd') || lpad(seq_product_image.nextval, 4, '0'),
                #{imgNm},
                #{imgPath},
                #{prodKey})
    </insert>

    <select id="selProdKey" parameterType="String" resultType="String">
        select prod_key
        from tbl_product
        where prod_nm = #{prodNm}
    </select>

    <select id="selDuplNmCnt" parameterType="String" resultType="java.lang.Integer">
        select count(*)
        from tbl_product
        where prod_nm = #{prodNm}
    </select>

</mapper>